.banner-bg-color{
    background-color: #fceae8;
    border-radius: 10px;
}
.container{
    margin-bottom: 70px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#FF136F,rgb(245, 110, 162));
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
    cursor: pointer;
}